*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 3%;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    margin-left: 50px;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    color:white;
    transition: all 0.5s ease-in-out;
}
.logo:hover{
    color: black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a{
    display: inline-block;
    position: relative;
    margin: 0 8px;
    padding: 4px 10px;
    border-radius: 30px;
    color:white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    transition: all 0.6s;
}

.navbar a::after{
    content: "";
    position: absolute;
    background-color: rgba(32, 32, 32, 0.479);
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    transition: all 0.5s ease;
}
.navbar a:hover::after{
    width: 100%;
}
.navbar a:hover{
    transform: translateY(-4px);
    color: rgba(0, 0, 0, 0.855);
}

.toggle{
    width: 50px;
    height: 25px;
    border-radius: 30px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
}
.toggle-icon{
    color:yellow;
    font-size: 1.3rem;
}
.toggle-ball{
    width: 23px;
    height: 23px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    right: 1px;
    cursor: pointer;
    transition: 1s ease all;
}


                                 /*      Home page          */



.home{
    width: 100%;
    height: 100vh;
    color:black;
    /* background: linear-gradient(rgba(0,0,0,0.1),#000); */
    background: linear-gradient(grey,rgba(0,0,0,0.1),black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px ;
}
.home-sec{
    padding-top:120px;

}
.home-sec h3{
    font-weight: 700;
    font-size:40px;
}

.home-sec h1{
    font-weight: 700;
    font-size: 52px;
    margin: -5px 0;
    color: purple;
}
.home-sec h2{
    font-weight: 700;
    font-size:52px;

}
#element{
    color: purple;
}

.home-sec p{
    margin: 10px 0;
    font-weight: 700;
    font-size: 20px;
}

.home-sec2 a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 100px 25px 40px 0;
    background-color: transparent;
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.home-sec2 a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    scale: 1.2;
}


.btn-box{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #0ef;
    color: #081b29;
    border-radius: 40px;
    text-decoration: none;
    letter-spacing:900;
}
.btn-box:hover{
    box-shadow: 0px 0px 12px cyan;
}

.home .img{
    filter:grayscale(70%);
    background-image: url(photo.jpg);
    background-position:50% 30%;
    background-size:top;
    border-radius: 50%;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    box-shadow: 7px 5px 20px #012290f7,7px 5px 40px #0053b8f7;
}
.home .img:hover{
    filter: none;
}

                            /* about page        */



.about{
    color: white;
    width: 100%;
    height: 100vh;
    background-color:black;
    padding: 50px;
}
.about-text h2{
    text-align: center;
    font-size: 60px;
    margin-top: 20px ;
}
.about-text h2 span{
    text-align: center;
    color: #0ef;
    margin-top: 20px ;
}
.about-text h4{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.7;
}

hr{
    margin: 18px 60px;
}

.secondsection{
    width: 80vw;
    margin: auto;
    height: 90vh;
}
.secondsection h1{
    font-size: 1.9rem;
}

.secondsection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 100px 0;
    display: flex;
}
.secondsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.imag{
    width: 50px;
    position: relative;
    top: -55px;
    left: -15px;

}
.title{
    position: relative;
    top: 50px;
    width: 150px;
}
.title2{
    position: relative;
    top: 60px;
    color: gray;
    width: 150px;
    font-size: 12px;
}



                            /* contener skill page     */

.skill{
    width: 100%;
    height: 100vh;
    background-color:black;
}
.contener{
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill h1{
    padding: 100px;
    padding-bottom: 20px;
    color:white;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 3rem;
} 
.technical-bar{
    width: 500px;
    color: white;
}

.technical-bar .bar{
    font-size: 30px;
    padding: 10px;
}

.technical-bar .bar .progress-line{
    position: relative;
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 10px;
}
.technical-bar .bar .progress-line span{
    position:absolute;
    height: 100%;
    background-color:#0ef;
    border-radius: 10px;
}
.technical-bar .bar .progress-line.html span{
    width: 90%;
}
.technical-bar .bar .progress-line.css span{
    width: 83%;
}
.technical-bar .bar .progress-line.js span{
    width: 65%;
}
.technical-bar .bar .progress-line.py span{
    width: 50%;
}
.progress-line span::after{
    position: absolute;
    background-color:white;
    color: black;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    padding: 4px 8px;
    top: -35px;
    right: -20px;
}
.progress-line.html span::after{
    content: "92%";
}
.progress-line.py span::after{
    content: "50%";
}
.progress-line.css span::after{
    content: "83%";
}
.progress-line.js span::after{
    content: "65%";
}

.contener2{
    background-color: yellow;
}
.contener2{
    margin-top: 50px;
    width:550px;
    height: 370px;
    border-radius: 10px;
}
.contener2 img{
    width:550px;
    height: 370px;
    border-radius: 10px;
}
                            /*  project page     */


.Portfolio{
    color: white;
    width: 100%;
    height: 100vh;
    background-color:black;
}
.main-port{
    padding-top: 90px;
}
.main-port h2{
    font-size: 60px;
    text-align:center;
}
.main-port h2 span{
    color: #0ef;
}

.profile-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.image{
    background-color:white;
    width: 350px;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #fafcf9f7,5px 5px 20px #e1d9d8f7;
    transition:al 8s ease-in-out;
}
.image img{
    width: 100%;
    border-radius: 8px;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    padding:0 30px;
    transition: height 0.5s;
}

.layer h5{
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}
.layer p{
    font-size: 1.3rem;
    color: #000;
}
.image:hover img{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px #fafcf9f7,5px 5px 20px #e1d9d8f7;
}
.image:hover .layer{
    height: 100%;
}



                            /*  .contect page     */


.contect{
    color: white;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    background-color:black;
    padding: 100px 100px 0 100px;
}

.contect-text h2{
    margin-top: px;
    font-size: 90px;
    color: #0ef;
}
.contect-text h3{
    margin: 20px 0;
    font-weight: 600;
    font-size: 20px;
    color: rgb(228, 228, 228);
}
.contect-text p{
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 2rem;
    color: rgb(177, 177, 177);
}
.contect-us{
    margin-bottom: 2rem;
}
.contect-us li{
    font-size: 1.5rem;
    list-style-type: none;
}
.contect-us li i{
    padding-right: 10px;
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    transition: all .40s ease;
}
.contect-us li a{
    transform: scale(1.01), translateY(-5px);
    color: #0ef;
}
.contect-icon i{
    width: 40px;
    height: 40px;
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    margin-right:15px;
    transition: .5 ease;
}
.contect-icon i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contect-form form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px ;
    /* background: #555557; */
    color: black;
}

.contect-form form input{
    border-radius: 5px;
    margin: 5px;
    border: none;
    outline: none;
    width: 400px;
    padding: 5px 10px;
    font-size: 1.3rem;
}
.help{
    font-size: 13px;
    color:blue;
    padding: 0;
    margin: 0 5px;
}

.contect-form form textarea{
    margin: 10px;
    padding: 10px;
    width: 390px;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
}
.contect-form form .cheak{
    flex-direction:row;
    font-size: 1.3rem;
    color: white;
}
#clint{
    width:20px ;
    height: 20px;
}

.contect-form form .send{
    margin: 15px;
    border: none;
    padding: 12px 28px;
    background: #0ef;
    font-weight: 600;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
}
.contect-form form .send:hover{
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}


                                 *      footer           */



.footer{
    width: 100%;
    text-align: center;
    font-weight: 300;
    background: rgb(7, 85, 91);
    padding: 5px 0;
}
.text{
    width: 100%;
    text-align: center;
    font-weight: 300;
    background: rgb(7, 85, 91);
    padding: 5px 0;
}
.top{
    position: fixed;
    background-color: #0ef;
    right: 2.1rem;
    bottom: 2.1rem;
    padding: 3px;
    font-weight: 800;
    border-radius:5px;
    font-size: 25px;
    color: #000000;
}



                            /*   active                */



.header.active{
    background-color:rgba(255, 255, 255, 0.833);
}
.logo.active{
    color: black;
}
.navbar a.active{
    color: black;
}
.toggle.active{
    background-color:black;
}
.toggle-ball.active{
    background-color:white;
    transform: translateX(-22px);
}
.home.active{
    background: linear-gradient(white,rgba(0,0,0,0.1),#000);
}
